# Negeer alle JSON-bestanden in submappen van WindForecast en SolarForecast
Data/WindForecast/**/*.json
Data/SolarForecast/**/*.json

Database/
Energie/
Log/
Test/
Tools/
__pycache__/
.vscode/
Samenvattingen/